<figure class="figure keynote-figure">
    <img src="{{ include.url }}" alt="{{ include.description }}" class="img keynote-img">
    <figcaption class="figure-caption keynote-figure-caption">{{ include.description }}</figcaption>
</figure>